.about-section {
  height: 400px;
}

.about-section .line {
  width: 99%;
}
.about-section:nth-child(1) .line {
  background-color: #39aaff;
}
.about-section:nth-child(3) .line {
  background-color: #29d5d5;
}
.about-section:nth-child(5) .line {
  background-color: #4e5eff;
}

.about-section .content-about-section a::after {
  width: 0;
  height: 2px;
  display: flex;
  background-color: #fff;
  content: "";
  position: relative;
  left: 50%;
  cursor: pointer;
  transform: translateX(-50%);
  transition: width 0.5s ease;
}

.about-section .content-about-section a:hover::after,
.about-section .content-about-section a:active::after {
  width: 100%;
}

@media (max-width: 300px) {
  .about-section {
    height: 550px;
  }
}

@media (max-width: 640px) {
  .about-section {
    height: 350px;
  }
}

@media (min-width: 640px) {
  .about-section {
    height: 350px;
  }
}

@media (min-width: 768px) {
  .about-section {
    min-height: 319px;
    height: 480px;
  }
}

@media (min-width: 1024px) {
  .about-section {
    height: 350px;
  }
}
