.about-section {
  padding: 10px;
  max-width: 386px;
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #242424;
  border-radius: 4px;
}

.about-section .line {
  width: 99%;
  height: 8px;
  border-radius: 4px;
  z-index: 2;
}
.about-section:nth-child(1) .line {
  background-color: #39aaff;
}
.about-section:nth-child(3) .line {
  background-color: #29d5d5;
}
.about-section:nth-child(5) .line {
  background-color: #4e5eff;
}

.about-section .content-about-section {
  margin: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.about-section .content-about-section .heading-about-section {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.content-about-section .heading-about-section h4 {
  margin-left: 15px;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.23399999737739563px;
  text-transform: none;
}

.content-about-section p {
  /* margin-bottom: 50px; */
  color: #fff;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.14399999380111694px;
  text-transform: none;
}

.content-about-section a {
  /* margin-bottom: 20px; */
  max-width: 180px;
  background-color: #242424;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.23399999737739563px;
  text-transform: none;
}
.content-about-section a::after {
  display: flex;
  cursor: pointer;
  content: "";
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  /* bottom: 0; */
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.5s ease;
}

.content-about-section:hover a::after,
.content-about-section:active a::after {
  width: 100%;
}

@media (min-width: 640px) {
  .about-section {
    padding: 10px;
    max-width: 386px;
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #242424;
    border-radius: 4px;
  }

  .about-section .content-about-section {
    margin: 48px 26px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
  }
  .content-about-section .heading-about-section h4 {
    margin-left: 20px;
    color: #fff;
    font-size: 24px;
    font-style: normal;
    font-family: "Arial", sans-serif;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.23399999737739563px;
    text-transform: none;
  }
}

@media (min-width: 768px) {
  .about-section {
    padding: 10px;
    max-width: 386px;
    width: 32%;
    height: 450px;
    min-height: 319px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #242424;
    border-radius: 4px;
  }
}

@media (min-width: 1024px) {
  .about-section {
    padding: 10px;
    max-width: 386px;
    width: 32%;
    height: 350px;
    min-height: 319px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #242424;
    border-radius: 4px;
  }
}
