.first-screen {
  max-width: 1280px;
  width: 100%;
  margin: 150px auto;
}

.first-screen h1 {
  max-width: 550px;

  margin: 10px auto;
  color: #0d0d0d;
  font-size: 55px;
  font-style: normal;
  text-align: center;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  line-height: 62px;
  letter-spacing: 2.934000015258789px;
  text-transform: none;
}

.first-screen h2 {
  color: #7e5fff;
  font-size: 55px;
  font-style: normal;
  text-align: center;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  line-height: 62px;
  margin-bottom: 50px;
  letter-spacing: 2.934000015258789px;
  text-transform: none;
}

.first-screen p {
  max-width: 585px;
  margin: 10px auto;
  color: #0d0d0d;
  font-size: 22px;
  font-style: normal;
  text-align: center;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0.7739999890327454px;
  text-transform: none;
}
