.first-screen h1 {
  margin: 10px auto;
  max-width: 550px;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 2.934000015258789px;
}

.first-screen h2 {
  margin-bottom: 50px;
  color: #7e5fff;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 2.934000015258789px;
}

.first-screen p {
  max-width: 585px;
  margin: 10px auto;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.7739999890327454px;
}

@media (min-width: 640px) {
  .first-screen h1 {
    font-size: 55px;
    line-height: 62px;
  }

  .first-screen h2 {
    font-size: 55px;
    line-height: 62px;
  }

  .first-screen p {
    font-size: 22px;
    line-height: 35px;
  }
}
