.first-screen p {
  max-width: 585px;
}

@media (min-width: 640px) {
  .first-screen h1 {
    font-size: 55px;
    line-height: 62px;
  }

  .first-screen h2 {
    font-size: 55px;
    line-height: 62px;
  }

  .first-screen p {
    font-size: 22px;
    line-height: 35px;
  }
}
