.footer-links {
  margin-bottom: 15px;
  flex: 0 0 30%;
  display: flex;
  flex-direction: column;
}
.footer-links:last-child {
  margin-bottom: 0;
}
.footer-links h5 {
  margin-bottom: 0px;
  color: #0d0d0d;
  font-size: 18px;
  font-style: normal;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.16200000047683716px;
  text-transform: none;
}

.footer-links ul {
  display: flex;
  flex-direction: column;
  color: #0d0d0d;
  font-size: 14px;
  font-style: normal;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.14399999380111694px;
  text-transform: none;
}

.footer-links ul li {
  margin-bottom: 5px;
}
.footer-links ul li:last-child {
  margin-bottom: 0;
}
.footer-links ul li a {
  color: #0d0d0d;
}
.footer-links ul li::after {
  display: flex;
  cursor: pointer;
  content: "";
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  /* bottom: 0; */
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.5s ease;
}

.footer-links ul li:hover::after,
.footer-links ul li:active::after {
  width: 100%;
}

@media (min-width: 768px) {
  .footer-links {
    margin-bottom: 0;
    flex: 0 0 35%;
    display: flex;
    flex-direction: column;
  }

  .footer-links h5 {
    margin-bottom: 28px;
    color: #0d0d0d;
    font-size: 23px;
    font-style: normal;
    font-family: "Arial", sans-serif;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0.16200000047683716px;
    text-transform: none;
  }

  .footer-links li {
    margin-bottom: 15px;
  }
}
@media (min-width: 1280px) {
  .footer-links {
    flex: 0 0 30%;
  }
}
