.footer-links {
  flex: 0 0 30%;
}
.footer-links:last-child {
  margin-bottom: 0;
}
.footer-links h5 {
  margin-bottom: 0px;
  font-size: 18px;
  line-height: 27px;
}

.footer-links ul {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.14399999380111694px;
}

.footer-links ul li {
  margin-bottom: 5px;
}
.footer-links ul li:last-child {
  margin-bottom: 0;
}
.footer-links ul li a {
  color: #0d0d0d;
}
.footer-links ul li::after {
  width: 0;
  height: 2px;
  display: flex;
  cursor: pointer;
  background-color: black;
  content: "";
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.5s ease;
}

.footer-links ul li:hover::after,
.footer-links ul li:active::after {
  width: 100%;
}

@media (min-width: 768px) {
  .footer-links {
    flex: 0 0 35%;
  }

  .footer-links h5 {
    margin-bottom: 28px;
    font-size: 23px;
    line-height: 38px;
  }

  .footer-links li {
    margin-bottom: 15px;
  }
}
@media (min-width: 1280px) {
  .footer-links {
    flex: 0 0 30%;
  }
}
