footer > div div {
  flex: 0 0 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

footer .policy p {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}
footer .policy p a {
  color: #0d0d0d;
}
footer .policy p::after {
  width: 0;
  height: 2px;
  display: flex;
  background-color: black;
  cursor: pointer;
  content: "";
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.5s ease;
}

footer .policy p:hover::after,
footer .policy p:active::after {
  width: 100%;
}

footer > p {
  margin-top: 30px;
  font-size: 10px;
  text-align: center;
}
@media (min-width: 640px) {
  footer > div div {
    flex: 0 0 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
  }
}

@media (min-width: 768px) {
  footer .policy p {
    margin-right: 20px;
    font-size: 15px;
    line-height: 25px;
  }
  footer .policy p:last-child {
    margin-right: 0;
  }
}
@media (min-width: 1280px) {
  footer > div div {
    flex: 0 0 40%;
  }
}
