footer {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 80px 20px;
  display: flex;
  flex-direction: column;
}
footer > div {
  margin-bottom: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer > div div {
  flex: 0 0 40%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}
.logo {
  overflow: hidden;
  position: relative;
}
.logo img {
  width: 100%;
  height: 41px;
  object-fit: contain;
  object-position: left;
  position: absolute;
  top: 0;
  left: 0;
}

footer .policy {
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
}
footer .policy div {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

footer .policy p {
  margin-right: 20px;
}
footer .policy p:last-child {
  margin-right: 0;
}

footer > p {
  margin-top: 30px;
  font-size: 10px;
  text-align: center;
}

@media (min-width: 1024px) {
  footer > div div {
    flex: 0 0 50%;
  }
}
@media (min-width: 1280px) {
  footer > div div {
    flex: 0 0 40%;
  }
}
