.footer-links {
  flex: 0 0 30%;
}
.footer-links:last-child {
  margin-bottom: 0;
}
/* ----------------- */

.open {
  transform: rotate(180deg);
}
.footer-links ul {
  animation: slideFromRightToLeft 0.3s ease-in-out;
}
@keyframes slideFromRightToLeft {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(100%);
  }
}

/* ----------------- */
.footer-links ul li {
  margin-bottom: 5px;
}
.footer-links ul li:last-child {
  margin-bottom: 0;
}
.footer-links ul li:hover,
.footer-links ul li:active {
  cursor: pointer;
}
.footer-links ul li a {
  color: #0d0d0d;
}
.footer-links ul li::after {
  width: 0;
  height: 2px;
  display: flex;
  cursor: pointer;
  background-color: black;
  content: "";
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.5s ease;
}

.footer-links ul li:hover::after,
.footer-links ul li:active::after {
  width: 100%;
}

@media (min-width: 768px) {
  .footer-links {
    flex: 0 0 35%;
  }

  .footer-links li {
    margin-bottom: 15px;
  }
}
@media (min-width: 1024px) {
  .footer-links ul {
    display: flex;
  }
}
@media (min-width: 1280px) {
  .footer-links {
    flex: 0 0 30%;
  }
}
