.marketers-container {
  /* padding: 100px; */
  /* padding: 60px 20px; */
  /* background-color: black; */
  /* text-align: center; */
}
.marketers {
  /* max-width: 1280px; */
  /* width: 100%; */
  /* margin: 0 auto; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
}

.marketers p {
  color: white;
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  font-style: normal;
  font-family: "Arial", sans-serif;
  text-align: center;
}
.marketers p:nth-child(3) {
  max-width: 250px;
}
.marketers p a {
  color: white;
}
.marketers p a::after {
  display: flex;
  cursor: pointer;
  content: "";
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  /* bottom: 0; */
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.5s ease;
}

.marketers p a:hover::after,
.marketers p a:active::after {
  width: 100%;
}

.marketers-logo {
  /* margin: 50px 0; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-between; */
}

.marketers-logo div {
  flex: 1 1 auto;
  min-height: 100px;
  overflow: hidden;
  position: relative;
}

.marketers-logo div img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  position: relative;
  top: 0;
  left: 0;
}

@media (min-width: 640px) {
  .marketers-container {
    /* padding: 100px 40px; */
    /* text-align: center; */
  }
  .marketers p {
    font-size: 18px;
    line-height: 27px;
  }
}

@media (min-width: 768px) {
  .marketers p {
    font-size: 24px;
    line-height: 40px;
  }
  .marketers-logo {
    margin: 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 1024px) {
  .marketers-container {
    /* padding: 100px; */
  }
}
