.marketers {
  width: 100%;
  padding: 50px;
  background-color: black;
  text-align: center;
}
.marketers p {
  color: white;
}

.marketers-logo {
  display: flex;
  flex-direction: row;
}

.marketers-logo img {
  padding-right: 20px;
}
