.nav {
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav ul {
  width: 36%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav ul li {
  list-style: none;
}
.nav ul li:hover,
.nav ul li:active {
  cursor: pointer;
}

@media (max-width: 1022px) {
  .nav {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .nav ul {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 400px;
    width: 300px;
    position: absolute;
    right: 20px;
    top: 100px;
    background-color: white;
    border-radius: 10px;
    font-size: 30px;
    line-height: 65px;
  }
}

.nav ul li::after {
  display: flex;
  cursor: pointer;
  content: "";
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  /* bottom: 0; */
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease;
}

.nav ul li:hover::after,
.nav ul li:active::after {
  width: 100%;
}
