.nav-desktop {
  width: 100%;
  display: none;
  justify-content: center;
}
@media (min-width: 1024px) {
  .nav-desktop {
    display: flex;
  }
}

.nav-desktop ul {
  width: 36%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav-desktop ul li {
  list-style: none;
  color: #0d0d0d;
  font-size: 16px;
  font-style: normal;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.14399999380111694px;
  text-transform: none;
}
.nav-desktop ul li:hover,
.nav-desktop ul li:active {
  cursor: pointer;
}
.nav-desktop ul li a:visited,
.nav-desktop ul li a:active {
  color: #0d0d0d;
}

.nav-desktop ul li::after {
  display: flex;
  cursor: pointer;
  content: "";
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  /* bottom: 0; */
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.5s ease;
}

.nav-desktop ul li:hover::after,
.nav-desktop ul li:active::after {
  width: 100%;
}
