/* .nav-mobile {
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav-mobile ul {
  width: 36%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */

/* .nav-mobile ul li::after {
  display: flex;
  cursor: pointer;
  content: "";
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.5s ease;
}

.nav-mobile ul li:hover::after,
.nav-mobile ul li:active::after {
  width: 100%;
} */
/* body {
  overflow: hidden;
} */
.nav-mobile {
  padding: 100px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: wheat;
  z-index: 4;
  transition: all 0.3s ease;
}

.nav-mobile ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  font-size: 30px;
  line-height: 65px;
}

.nav-mobile ul li {
  margin-bottom: 20px;
  list-style: none;
  color: #0d0d0d;
  font-size: 16px;
  font-style: normal;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.14399999380111694px;
  text-transform: none;
}
.nav-mobile ul li:last-child {
  margin-bottom: 0;
}
.nav-mobile ul li:hover,
.nav-mobile ul li:active {
  cursor: pointer;
}
.nav-mobile ul li a:visited,
.nav-mobile ul li a:active {
  color: #0d0d0d;
}
