.menu-icon {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.menu-icon.open {
  transform: rotate(90deg);
}

.menu-mobile {
  transition: all 0.3s ease;
  transition: transform 0.3s ease-in-out;
  animation: slideFromRightToLeft 0.3s ease-in-out;
}
@media (min-width: 640px) {
  .menu-mobile {
    position: fixed;
  }
}

.menu-mobile.open {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@keyframes slideFromRightToLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

.menu-mobile ul {
  font-size: 30px;
  line-height: 65px;
}

.menu-mobile ul li {
  margin-bottom: 30px;
  list-style: none;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.14399999380111694px;
}
.menu-mobile ul li:last-child {
  margin-bottom: 0;
}
.menu-mobile ul li:hover,
.menu-mobile ul li:active {
  cursor: pointer;
}
.menu-mobile ul li a:visited,
.menu-mobile ul li a:active {
  color: #0d0d0d;
}
