.product-container:nth-child(2) {
  background-color: #f3f3f3;
}

.product-description a {
  max-width: 89px;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.23399999737739563px;
}

.product-description a::after {
  display: flex;
  width: 0;
  height: 2px;
  cursor: pointer;
  background-color: black;
  content: "";
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.5s ease;
}

.product-description a:hover::after,
.product-description a:active::after {
  width: 100%;
}

.product-img {
  flex: 0 0 40%;
  min-height: 100px;
  overflow: hidden;
  position: relative;
}

.product-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  position: relative;
  top: 0;
  left: 0;
}

@media (min-width: 640px) {
  .product-description p {
    font-size: 18px;
    line-height: 30px;
  }

  .product-img {
    min-height: 200px;
  }
}
@media (min-width: 768px) {
  .product-description p {
    font-size: 18px;
    line-height: 30px;
  }
}
@media (min-width: 1024px) {
  .product-img {
    min-height: 500px;
  }
}
