@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500&display=swap");

.review-container {
  width: 100%;
  background-color: #4e5eff;
}
.review {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.review > div {
  margin: 200px;
  display: flex;
  flex-direction: column;
}
.review > div > div {
  margin-bottom: 40px;
}
.review > div > p {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 0;
  letter-spacing: 0.16200000047683716px;
  text-transform: none;
}
.review > div > p:first-of-type {
  max-width: 842px;
  position: relative;
  margin-bottom: 120px;
  color: #fff;
  font-size: 42px;
  font-style: normal;
  text-align: left;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: 0.8100000023841858px;
  text-transform: none;
}
.review > div > p:first-of-type::before {
  position: absolute;
  left: -13%;
  top: 25%;
  content: "\201c";
  font-size: 4em;
  color: #0d0d0d;
  margin-right: 0.1em;
  font-family: "Libre Franklin", sans-serif;
}
.review p::after {
  content: "";
  display: inline;
  width: 100%;
  height: 0;
}

.review p::after {
  color: #0d0d0d;
  content: " " attr(data-last-word);
}

.review > div > p:last-of-type {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  margin-top: 0;
  text-align: left;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 0;
  letter-spacing: 0.16200000047683716px;
  text-transform: none;
}

.review > div .company-name {
  flex: 0 0 33.3333%;
  min-height: 32px;
  overflow: hidden;
  position: relative;
}

.review > div .company-name img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: left;
  position: absolute;
  top: 0;
  left: 0;
}
