header,
main,
footer {
  color: #0d0d0d;
  font-style: normal;
  font-size: 10px;
  line-height: 15px;
  font-weight: 400;
  text-align: left;
  font-family: "Arial", sans-serif;
  letter-spacing: 0.16200000047683716px;
  text-transform: none;
}

main {
  margin-top: 50px;
  flex: 1 1 auto;
}
@media (min-width: 1024px) {
  main {
    margin-top: 0;
  }
}
