header,
main,
footer {
  align-items: center;
  color: #0d0d0d;
  font-style: normal;
  text-align: left;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  text-transform: none;
}

main {
  margin-top: 50px;
  flex: 1 1 auto;
}
@media (min-width: 1024px) {
  main {
    margin-top: 0;
  }
}
